@{
    ViewData["Title"] = "Privacy Policy";
    var s = ViewContext.HttpContext.Session.GetString("goilagi");
}
<h1>@ViewData["Title"]</h1>
<h3>@s</h3>
<p>Use this page to detail your site's privacy policy.</p>
